<p id="notice"><%= notice %></p>
<div class="child row">
    <div class="topic-wrapper">
        <div class="topic-text">
            <p class="left"><strong>内容</strong></p>
            <p class="left"><%= @topic.content %></p>
            <div class="topic-img">
                <%= topic_img(@topic) if topic_img(@topic) %>
            </div>
            <p class="right">
            投稿者: <%= link_to "#{@topic.user.name}", user_path(@topic.user) %><br>
            作成時間: <%= localize(@topic.created_at, format: :default) %>
            </p>
        </div>
        <p>コメント一覧</p>
        <div id="comments_area" >
            <%= render 'comments/index', comments: @comments, topic: @topic %>
        </div>
        <%= render 'comments/form', comment: @comment, topic: @topic %>
        <% if current_user.id == @topic.user_id %>
            <%= link_to '編集', edit_topic_path(@topic) %> |
        <% end %>
        <%= link_to '戻る', topics_path %>
    </div>
</div>
