<div class="user-page">
    <div class="row">
        <h3><%= @user.name %> さんのフォロー・フォロワー一覧</h3>
        <div class="container-child col-md-3 col-md-offset-3 col-sm-5 col-sm-offset-4 col-xs-7 col-xs-offset-3">
            <%= profile_img(@user) %>
            <br>
            <%= render 'follow_form', user: @user %>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>フォロー：<%= @followed_users.count %>人</h2>
        <%= render 'users/user_info', users: @followed_users %>
    </div>
    <div class="row">
        <h2>フォロワー：<%= @followers.count %>人</h2>
        <%= render 'users/user_info', users: @followers %>
    </div>
</div>
