<header>
    <nav class="navbar2 navbar2-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar2-header">
                <%= link_to root_path, class: "navbar2-brand" do %>
                    <i class="fa fa-facebook"></i> Faoemock
                <% end %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar2-collapse" id="bs-example-navbar2-collapse-1">
                <ul class="nav navbar2-nav navbar2-right">
                    <li><%= link_to "#{current_user.name} さん", user_path(current_user) if user_signed_in? && current_user.name.present? %></li>
                    <li><%= link_to "ホーム", topics_path %></li>
                    <% if user_signed_in? %>
                        <script>
                            var pusher = new Pusher('<%= Pusher.key %>');
                            var channel = pusher.subscribe('notifications'+<%= current_user.id.to_s %>);
                            channel.bind('message', function(data) {
                                $('#unreadcount').html(data.unread_count);
                            });
                        </script>

                    <% end %>
                </ul>
            </div><!-- /.navbar2-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
