<!DOCTYPE html>
<html lang="ja">
    <meta charset="UTF-8">
    <head>
        <title>Faoemock</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
    </head>
    <body>
        <% if user_signed_in? %>
            <%= render 'layouts/header' %>
        <% else %>
            <%= render 'layouts/nologin_header' %>
        <% end %>

        <% flash.each do |type, msg| %>
            <% if type == 'notice' %>
                <div class="alert alert-success" role="alert"><%= msg %></div>
            <% elsif type == 'alert' %>
                <div class="alert alert-danger" role="alert"><%= msg %></div>
            <% else %>
                <div class="alert alert-<%= type %>" role="alert"><%= msg %></div>
            <% end %>
        <% end %>

        <% if user_signed_in? %>
        <div class="container">
            <%= render 'layouts/sidebar' %>
            <div class="wrapper col-md-6 col-sm-8">
                <%= yield %>
            </div>
            <%= render 'layouts/footer' %>
        </div>
        <% else %>
            <%= yield %>
        <% end %>

    </body>
</html>
